.field {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.carrot,
.bug {
  position: absolute;
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
